@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
div{
  padding: 10px
}
.flex-row{
  display: flex;
  justify-content: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bold{
  font-size: x-large;
  font-weight: bold;
}

.input{
  outline: 1px solid rgb(202, 202, 202);
  border: 1px solid rgb(202, 202, 202);
  border-radius: 25px;
  padding: 1.2rem; 
}
.input:focus{
  outline: 1px solid rgb(255, 174, 0);
  border: 1px solid rgb(202, 202, 202);
  border-radius: 25px;
  padding: 1.2rem; 
}
